<% if notice %>
  <p class="alert alert-info">
    <%= notice %>
    <i class='fa fa-times dismiss-alert-button'></i>
  </p>
<% end %>

<% if alert %>
  <p class="alert alert-danger">
    <%= alert %>
    <i class='fa fa-times dismiss-alert-button'></i>
  </p>
<% end %>
